/* Header

=================================================================== */


header {

margin-top: 10px;
height: 68px;
background: #fff; !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#e6ffffff',GradientType=0 ); /* IE6-8 */
position: relative;

z-index: 20;

-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35), 0px -1px 1px rgba(0,0,0,.15);

  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35), 0px -1px 1px rgba(0,0,0,.15);

    box-shadow: 0px 1px 1px rgba(0,0,0,.35), 0px -1px 1px rgba(0,0,0,.15);

}



.logo  {

height: 60px;

margin-top: 9px;

}



.logo i{

margin-top:-25px;

opacity: .2;

filter: alpha(opacity=20);

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";

}





.logo a{

color: #ddd;

text-decoration: none;

font-size: 28px;

line-height: 68px;

margin-left: 10px;

}



.logo span {

color: #f16529;

}



#social-links {

margin-top:20px;

float: right;

}



.nav-collapse.collapse {

    height: auto \9 !important;

    overflow: visible \9 !important;

}



.navbar, 

.navbar-inner, 

.nav,

.navbar-inverse {

float: right;

background: none !important;

filter: none !important;

border: none;

-webkit-box-shadow: none;

     -moz-box-shadow: none;

          box-shadow: none;

padding: 0px;

margin: 0;

}



.navbar-inner {

padding-left: 0px !important;

padding-right: 0px !important;

}



.navbar .nav > li > a {

color: #666;

border-top:4px solid transparent;

text-shadow: none;

font-size: 15px;

padding: 22px 15px;

padding: 22px 15px \9;

-webkit-transition: all 0.3s ease-in-out;

-moz-transition: all 0.3s ease-in-out;

-o-transition: all 0.3s ease-in-out;

-ms-transition: all 0.3s ease-in-out;

transition: all 0.3s ease-in-out;



}



.navbar .nav > li > a:focus,

.navbar .nav > li > a:hover {

border-top:4px solid #f16529 !important;

  background: #f16529 !important;

  color: #fff;

}



.navbar .nav > .active > a,

.navbar .nav > .active > a:focus {

  color: #f16529 !important;

  text-decoration: none;

border-top:4px solid #f16529 !important;

  background-color: transparent !important;

  -webkit-box-shadow: none;

       -moz-box-shadow: none;

          box-shadow: none;

}



.navbar .nav > .active > a:hover {

border-top:4px solid #f16529 !important;

  background: #f16529 !important;

  color: #fff !important;

  -webkit-box-shadow: none;

       -moz-box-shadow: none;

          box-shadow: none;

}



.navbar .nav .active a:hover > .caret {

  border-top-color: #fff !important;

  border-bottom-color: #fff !important;

}



.dropdown-menu li > a:hover,

.dropdown-menu li > a:focus,

.dropdown-submenu:hover > a {

  color: #ffffff;

  background: #f16529 !important;

}



.dropdown-menu .active > a {

color: #ffffff !important;

  background: #f16529 !important;

}

.dropdown-menu .active > a:hover {

  color: #ffffff !important;

  background: #f16529 !important;

}



.navbar .btn-navbar {

position: absolute;

right: 25px;

top: 25px;

}



.nav .active .dropdown-toggle .caret {

  border-top-color: #f16529 !important;

  border-bottom-color: #f16529 !important;

}

/* Footer

====================================================================== */

#footer-menu {

height: 50px;

background: url(../img/fbg.jpg);

-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);

  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);

    box-shadow: 0px 1px 1px rgba(0,0,0,.35);

}



#footer-menu-logo  {

height: 46px;

}



#footer-menu-logo #logo-arrow {

margin: 5px;

height: 36px;

width: 36px;

background: #fcfcfc url(../img/arrow.png);

background-repeat: no-repeat;

background-position: 66% 50%;

opacity: .1;

filter: alpha(opacity=10);

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";

-webkit-border-radius: 50em;

-moz-border-radius: 50em;

border-radius: 50em;

border: 3px solid #000;

float: left;

}





#footer-menu-logo a{

color: #fff;

text-decoration: none;

font-size: 22px;

line-height: 54px;

margin-left: 5px;

}



#footer-menu-logo span {

color: #444;

}





#footer-menu-logo img {

margin-top: 10px;

}



#footer-menu-links {

display: block;

float: left;

max-height: 52px;

margin: 6px 0 6px 0;



}



#footer-menu-links ul,

#footer-menu-links li {

list-style: disc;

color:#444;

padding:0;

margin:0;

}



#footer-menu-links li:first-child {

list-style: none;

}





#footer-menu-links ul li{

float:left;

position:relative;

z-index: 100;

-webkit-transition: all 0.3s ease-in-out;

-moz-transition: all 0.3s ease-in-out;

-o-transition: all 0.3s ease-in-out;

-ms-transition: all 0.3s ease-in-out;

transition: all 0.3s ease-in-out;

}



#footer-menu-links ul li a { 

display: inline-block;

color: #444;

text-decoration: none;

font-size: 12px;

font-family: 'Droid Sans';

text-transform: lowercase;

padding: 10px 15px 10px 0px;

margin: 0px 10px 0px 0px;

-webkit-transition: all 0.3s ease-in-out;

-moz-transition: all 0.3s ease-in-out;

-o-transition: all 0.3s ease-in-out;

-ms-transition: all 0.3s ease-in-out;

transition: all 0.3s ease-in-out;

}



#footer-menu-links ul li:first-child a { 



}



#footer-menu-links ul li a:hover {

color: #fff;

-webkit-transition: all 0.3s ease-in-out;

-moz-transition: all 0.3s ease-in-out;

-o-transition: all 0.3s ease-in-out;

-ms-transition: all 0.3s ease-in-out;

transition: all 0.3s ease-in-out;

}



#footer-menu-back-to-top {

margin: 10px;

z-index: 999;

}



#footer-menu-back-to-top a {

width: 30px;

height: 30px;

display: block;

background-color: #f16529;

background-image: url(../img/scroll-top-top.png);

background-repeat: no-repeat;

background-position: 50%;

-webkit-transition: all 0.1s ease-in-out;

-moz-transition: all 0.1s ease-in-out;

-o-transition: all 0.1s ease-in-out;

-ms-transition: all 0.1s ease-in-out;

transition: all 0.1s ease-in-out;

}



#footer-menu-back-to-top a:hover {background-color: #aaa;}



#footer {

margin-top: 20px;

background: url(../img/fbg5.jpg);

color: #fcfcfc !important;

padding: 20px 0px;

z-index: 1;

position: relative;

opacity: 1;

-webkit-box-shadow: 0 -4px 0 rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.35);

  -moz-box-shadow: 0 -4px 0 rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.35);

            box-shadow: 0 -4px 0 rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.35);



}



#footer, 

#footer p, 

#footer a{ 

color: #fcfcfc !important;

}



#footer a:hover {

color: #fff;

}



.no-margin {margin-top: 0;}



#footer h3 {

padding: 2px 0px !important;

margin-bottom: 10px;

color: #fdfdfd;

}



/* Copyright

====================================================================== */



#copyright {

padding: 20px 0px;

}



#copyright p {

margin: 0 auto;

width: 380px;

text-align: center;

color: #666;

text-shadow: 0px -1px 1px #222;

}



#copyright a {

color: #555;

}

/*
*/

/* slide typography */
.slide h1 {
  line-height:62pt;
  font-size:48pt;
  padding-top:5px;
}
.slide p {
  line-height:20px;
  color:#ddd;
}

.slide h3{
  color:#EEE;
}

.slide img{
  height: 130px;
  width:110px;
}

/* show of */

.show-of h1 {
  line-height:30pt;
  padding:10px 0px;
}
.show-of .span4 img, .show-of .span3 img, .show-of .span2 img {
  padding:5px;
  float:left;
}
.show-of-head {
  background: rgb(40,37,45); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(40,37,45,1) 0%, rgba(47,43,53,1) 36%, rgba(38,34,42,1) 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(40,37,45,1)), color-stop(36%, rgba(47,43,53,1)), color-stop(99%, rgba(38,34,42,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(40,37,45,1) 0%, rgba(47,43,53,1) 36%, rgba(38,34,42,1) 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(40,37,45,1) 0%, rgba(47,43,53,1) 36%, rgba(38,34,42,1) 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(40,37,45,1) 0%, rgba(47,43,53,1) 36%, rgba(38,34,42,1) 99%); /* IE10+ */
  background: linear-gradient(-45deg, rgba(40,37,45,1) 0%, rgba(47,43,53,1) 36%, rgba(38,34,42,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28252d', endColorstr='#26222a', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.show-of .span4, .show-of .span3, .show-of .span2, {
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(69,72,77,1)), color-stop(100%, rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(-45deg, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.show-of .span4, .show-of .span3, .show-of .span2 {
  display:block;
  min-height:50px;
  opacity:0.8;
}
.show-of h1 {
  font-size:14pt;
  line-height:16pt;
}
.show-of .span4 h1, .show-of .span3 h1, .show-of .span2 h1 {
  margin-top:30px;
}
.show-of p {
  text-align:left;
  font-weight:400;
  line-height:15pt;
}

#slide {
  min-height:320px;
  border-bottom:1px solid #343038;
  padding-top:20px;
} /* slide section */

/* front-page slider */
#sliding {
  border-bottom:1px solid #f4763E;
  padding-top:20px;
} /* slide object */
#sliding .item {
  height:280px;
  padding-top:20px;
}
#sliding .item img {
  float:left;
  padding:20px;
}
#sliding .carousel-control {
  font-size:20pt;
  font-weight:500;
  margin-top:50px;
  line-height:25pt;
}


/* Stat boxes and quick actions */
.stat-boxes, .quick-actions, .quick-actions-horizontal, .stats-plain {
    display: inline-block;
    list-style: none outside none;
    margin: 20px 0 10px;
    text-align: center;
}

.stats-plain {
  width: 100%;
}
.stat-boxes li, .quick-actions li, .quick-actions-horizontal li {
    background-color: #F6F6F6;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#F9F9F9), to(#EDEDED));
  background-image: -webkit-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -ms-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: -o-linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    background-image: linear-gradient(top, #F9F9F9 0%, #EDEDED 100%);
    border: 1px solid #d5d5d5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255,255,255,0.4);
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 10px;
    padding: 0 10px;
} 

.stat-boxes li:hover, .quick-actions li:hover, .quick-actions-horizontal li:hover  {
    background-color: #fcfcfc;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FCFCFC), to(#F1F1F1));
  background-image: -webkit-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
    background-image: -moz-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
    background-image: -ms-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
    background-image: -o-linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
    background-image: linear-gradient(top, #FCFCFC 0%, #F1F1F1 100%);
}
.quick-actions li:active, .quick-actions-horizontal li:active  {
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
  background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.4);
}


.stat-boxes .left, .stat-boxes .right {
  text-shadow: 0 1px 0 #ffffff;
    float: left;
}
.stat-boxes .left {
    border-right: 1px solid #DCDCDC;
    box-shadow: 1px 0 0 0 #FFFFFF;
    margin-right: 12px;
    padding: 10px 14px 6px 4px;
    font-size: 10px;
    font-weight: bold;
}

.stat-boxes .right {
    font-size: 12px;
    padding: 9px 10px 7px 0;
    text-align: center;
    width: 70px;
    color: #666666;
}
.stat-boxes .left span, .stat-boxes .right strong {
  display: block;
}
.stat-boxes .right strong {
  font-size: 26px;
  margin-bottom: 3px;
  margin-top: 6px;
}
.stat-boxes .peity_bar_good, .stat-boxes .peity_line_good  {
  color: #459D1C;
}
.stat-boxes .peity_bar_neutral, .stat-boxes .peity_line_neutral  {
  color: #757575;
}
.stat-boxes .peity_bar_bad, .stat-boxes .peity_line_bad  {
  color: #BA1E20;
}

/* Navigation: Left Nav */

div.sidebar-nav {
    display: inline-block;
    float: left;
    width: 14.5%;
    z-index: 10;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
    background-color: transparent;
}

ul.left-menu li {
    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(242,242,242,1) 0%, rgba(242,242,242,1) 96%, rgba(206,206,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,242,242,1)), color-stop(96%,rgba(242,242,242,1)), color-stop(100%,rgba(206,206,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(242,242,242,1) 0%,rgba(242,242,242,1) 96%,rgba(206,206,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(242,242,242,1) 0%,rgba(242,242,242,1) 96%,rgba(206,206,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(242,242,242,1) 0%,rgba(242,242,242,1) 96%,rgba(206,206,206,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(242,242,242,1) 0%,rgba(242,242,242,1) 96%,rgba(206,206,206,1) 100%); /* W3C */
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-radius: 3px 0 0 3px;
    margin-bottom: 5px !important;
    padding: 10px;
    font-size: 14px;
}

ul.left-menu li.active {
    background: none repeat scroll 0 0 #FFF;
    -webkit-box-shadow: -5px 0px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -5px 0px 3px rgba(0, 0, 0, 0.15);
    box-shadow: -5px 0px 3px rgba(0, 0, 0, 0.15);
}

ul.left-menu li:hover {
    background: none repeat scroll 0 0 #FFF;
    -webkit-box-shadow: -5px 0px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -5px 0px 3px rgba(0, 0, 0, 0.15);
    box-shadow: -5px 0px 3px rgba(0, 0, 0, 0.15);
    box-shadow: none\9;
}


ul.left-menu li a {
    color: #666;
    padding: 10px 0;
    text-shadow: 0 1px 0 #FFFFFF;
}

ul.left-menu li a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #49AFCD;
}

ul.left-menu li span.box {
    padding-right: 10px;
    font-size: 20px;
}

/* Submenus */

ul.left-menu li ul.submenu {
    margin-bottom: 0;
}

ul.left-menu li ul.submenu li {
    background: none repeat scroll 0 0 transparent;
    font-size: 12px;
    padding: 0 0 0 20px;
    box-shadow: none;
    border-bottom: 1px solid #CCC;
}

ul.left-menu li ul.submenu li.submenu-last {
    border-bottom: none;
}

ul.left-menu li ul.submenu li:hover {
    background: none repeat scroll 0 0 transparent;
}

ul.left-menu li ul.submenu li span.box {
    padding-right: 10px;
    font-size: 16px;
}


div.container-fluid.main-container {
    padding-top: 20px;
}

div.container-fluid.content-wrapper {
    padding: 20px;
    background: none repeat scroll 0 0 #FFF;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
    float: left;
    min-height: 800px;
    width: 81%;
}