/*
*{border: thin dotted}*/

/* Common
-------------------------------------------------- */
html, body, #content, .container{
    /*height: 100%;*/
    min-height: 100%;
}

body {
	position: relative;
	padding-top: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	/*background: white url('../img/bg.png') top center repeat;*/
	color:#333;
	margin:0px auto;
}

#content{
    /*background: white url('../img/bg.jpeg') top center repeat;*/
    margin:0px auto;
    padding-top:25px;
    /*width: 75%*/
}
.quiz-library, .dashboard, .faclib, .facpro{
    width:70%;
    background: white url('../img/bg.jpeg') top center repeat;
    padding:10px 20px 0px 20px;
}

#content2{
    background: white url('../img/bg.jpeg') top center repeat;
    margin:0px auto;
    padding-top:40px;
}

.bold{
	font-weight: bold;
}

.center {
	text-align: center;
}

.left {
text-align: left;}

.margin-0 {
	margin-left: 0px;
}

h1,h2 {
	font-weight: bold;
}

h3, h4, h5 {
	font-weight: normal;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 19px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 11px;
}

.font-h1 {
	font-size: 30px;
	font-weight: bold;
}

.font-h2 {
	font-size: 22px;
	font-weight: bold;
}

.font-h3 {
	font-size: 19px;
	font-weight: bold;
}

.font-h4 {
	font-size: 15px;
}

.font-h5 {
	font-size: 11px;
}


.fac{
    width:80%;	
}
hr{
    height:1px;
    margin:0px;
}
/* Faded out hr */
hr.soften {
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .1), rgba(0, 0, 0, 0) );
	border: 0;
}

/*Define the bold font */


/* Define the color palette */
.green {
	color: #06947A;
}

.yellow{
color: #FAFAD2;}

.blue {
	color: #6158e2;
}

.red {
	color: #C6264C
}

.maroon {
color: #C0504D
}

.gold {
	color: #A8A38D
}

.purple{
	color :#3C0E5D;	
}

.orange{
color:#F4763E;
}

.light-blue{
color:#31859C;
}

.dark-blue{
color:#193D42;
}


.box{
    background-color: white;
 
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.outline{
border: 1px solid #ccc;
-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.outline2 /* This one has rectangular edges) */{
border: 1px solid #aaa;
padding: 2px;
}

.yellow-box{
	border: solid 1px #CCC; 
	background-color: #FCFDCC;
	padding:10px;
	margin-top:10px;
}

.credits{

background:#193D42;
color: white;
margin-top: -20px;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;}

  

.navbar-inner {
  background-color: #fff; /* background color will be black for all browsers */
  background-image: none ;
  background-repeat: no-repeat;
  filter: none;
}


/* Detail unit
-------------------------------------------------- */
.detail-unit {
	margin: 10px 0px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #CCC;
	background-color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}

.detail-unit .heading {
	border-bottom: 1px solid #CCC;
	padding: 5px 20px;
}

.detail-unit .content {
	color: #555;
	padding: 25px 20px 10px 20px;
}

.detail-unit .content li {
	margin-bottom: 10px;
}

.navbar-inverse .navbar-inner {
	background: #193D42;
}

/* tweak the navbar to adjust to given height. you need to use this formulae */
/*.navbar .nav { height: @navbarHeight; }
.navbar .nav > li > a { padding: (@navbarHeight - 20)/2 10px ((@navbarHeight - 20)/2 + 1); }
.navbar .brand { padding: (((@navbarHeight - 20) / 2) * 0.8) 20px (((@navbarHeight - 20) / 2) * 1.2); }
*/
.navbar .nav {
	height: 51px;
}

.navbar .nav>li>a {
	padding: 15px 10px 16px
}

/* Sidebar
-------------------------------------------------- */
.sidebar {
	height: 100%;
    min-height: 600px;
	background: url('../img/linen.png') repeat-y;
	margin-top: -15px;
	padding-top: 10px;
	background-size: 100% auto;
	
	-webkit-background-size: 100% auto; /*  Safari  */
	-khtml-background-size: 100% auto; /*  Konqueror  */
	-moz-background-size: 100% auto;
	background-size: 100% auto; /*  Firefox  */
	-webkit-box-shadow: #ccc 3px 0px 6px;
	box-shadow: #ccc 3px 0px 6px;
}

/* Landing
-------------------------------------------------- */

.landing{
margin-top: 50px;
width: 100%;
}

.top-content h1{
font-family: Helvetica, Arial, sans-serif;
margin-top: 0px;
color: #193D42;}

.top-content img{
margin: 10px 0px 0px 0px;
position: relative; left: 70px;
}

.top-content a{
margin: 10px 0px 0px 0px;
position: relative; left: 90px;
background: #F4763E;
color: white;
font-style: bold;}

.top-content h4{margin: 30px 0px 20px 20px;}


.search{
margin-top:  -10px;
}

.search a{
background: #F4763E;
color: white;
font-style: bold;
}

.feature-row{
background: #CCC;
padding-top: 30px;
padding-left: 50px;
margin-top: 20px;
}

.feature-row h3
{color: #193D42;}

/* Dashboard
-------------------------------------------------- */
	
.das-personal-info{
padding-top: 10px;
padding-left: 125px;}

.das-history-head{
padding-top: 10px;}

.das-hist-graph{
position: relative;
left: 20px;
top:20px;}

.das-sec2{
margin-bottom: 15px;}

.das-sec2 .outline{
margin-top: 18px;
margin-left: 5px;
margin-right: 5px;}

.das-sec2 img{
margin-left: 40px;}

.das-sec2 ul{
margin-top: -5px;
margin-left: 15px;}

.das-sec2 h4{
margin-top: 0px;
}

.das-sec3{
margin-top: 15px;
margin-bottom: 15px;}

.das-sec3 h3{
margin-top: 0px;
padding-left: 10px;
}

.das-sec4{
margin-top: 15px;
padding-bottom: 15px;
margin-bottom: 15px;}

.das-sec4 h3{
padding-left: 10px;
}

.das-sec4 ul{
text-align: left;
}

.progress{
position: relative;
top: 12px;
}

.stars{
position: relative;
bottom: 2px;
}

.practice{
position: relative;
left: 270px;}

.accuracy{
position: relative;
left: 570px;}

/* Quiz Library
-------------------------------------------------- */
.selected{
background: #ccc;
background: #31859C;
color: white;
}

.form-search a{
background: #F4763E;
color: white;
font-style: bold;}


.quiz-library .box{
	padding:5px;
}

.quiz-library .box:hover{
    cursor:pointer;
}

.quiz-lib-heading{

margin: -15px 0px 10px 20px;}

.quiz-lib-sec1{
padding-bottom: 20px;
margin-bottom: 30px;
border-bottom: 1px dotted #aaa;}

.quiz-lib-search{
position: relative;
bottom: 4px;
left: 18px;
}


.quiz-lib-input{
/*position: relative;
left: 27px;
*/}


.quiz-lib-filter1{
position: relative;
bottom: 2px;
padding-right: 5px;
text-align: center;
border-right: 1px solid #ccc;
}

.quiz-lib-filter2{
position: relative;
bottom: 2px;
text-align: center;
}

.quiz-lib-elements{
}

.quiz-lib-t1{
background: #eee;
}

.quiz-lib-t2 {
padding-top: 20px;
padding-left: 13px;
margin-bottom: 10px;	}

.quiz-lib-t3{
margin-top: 0px;}

.quiz-lib-t4 {
margin-top:15px;
line-height: 15px;
margin-bottom: 15px;
}

.quiz-lib-t5 {
border-top: 0.2px solid #ddd;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;}

.page-number{
margin-top: -15px;
margin-bottom: -15px;}


/* Fac Directory
-------------------------------------------------- */

.faclib .box{
padding:5px;}

.faclib-heading{
margin: -15px 0px 10px 20px;}

.faclib-sec1{
padding-bottom: 20px;
margin-bottom: 30px;}

.faclib-search{
position: relative;
bottom: 4px;
left: 18px;
}

.faclib-filter1{
position: relative;
bottom: 2px;
padding-right: 5px;
text-align: center;
border-right: 1px solid #ccc;
}

.faclib-filter2{
position: relative;
bottom: 2px;
text-align: center;
}

.faclist{
margin-bottom:30px;
}

.fac-pic{
margin-left: 8px;
margin-top: 8px;
margin-right: -8px;
}

.faclib-fac{
margin-bottom: 5px;
padding-left: 20px;
}

.fac-ind{
margin-bottom: -5px;
}


.faclib-fac div{
margin-top: 5px;}

.faclib-fac .btn{
margin-top: 20px;
background-image: -webkit-linear-gradient(top, #F77F00, #F45000);
background-repeat: repeat-x;
border-bottom-color: #AB3901;
color: white;
font-style: normal;}

.faclib-fac h4{
padding-left: 23px;
}

.faclib-details{
padding-top: 0px;
padding-left: 20px;}

.faclib-social{
margin-top: 29px !important;}


/* Faculty Profile
------------------------------------------------- */

.facpro-heading{
margin-left: 0px;}

.facpro-bio{
margin-top: 15px;
}

.facpro-details{
margin-top: 20px;
padding: 5px;}

.facpro-social{
margin-top: 23px;
padding: 5px}

.facpro-quiz{
margin-left: 0px;
margin-top: 25px;
margin-bottom: 20px;}

.view-all{
margin-top: -37px;
}

.facpro-posts{
padding: 10px 10px;
margin-top: 10px;
margin-left: 0px !important;
background: #ddd;
}

.date{
font-style: italic;
margin-left:20px;}
	
/* Analytics View 
-------------------------------------------------*/
.analytics-view{
width: 93%;
}

.analytics-comp{
position: relative;
top: 25px;}

.comp-stats{
padding-left: 37px; 
}

.scorebar{
padding: 0px;
margin-top: -10px;
/*background: #C4BD97;*/
}

.analytics-list{
border: 1px solid #dee;
padding-top:5px;
position: relative;
top: 15px;
}

.analytics-list2{
position: relative;
top: 15px;
}


/* Quiz View
-------------------------------------------------- */
.quizview{
width:93%;
}

.question-toolbar {
	padding: 5px;
	text-align: center;
	background-color: white;
	border-top: 1px solid white;
	border: 1px solid #DDD;
	margin-top:10px;
}

.question-text{
font-size: 13px;}

.top-buttons{
padding: 5px;}

.topbuttons span{
margin-left: 5px;
padding-top: 1px;
color: black;
};
;

#next,#previous,#submit {
    cursor: pointer;
}

.option-button {
	margin: 10px 0px 10px 0px;
	padding-right: 20px
}

.option-box {
	position: relative;
	margin: 10px 0px 10px 10px;
	padding: 20px 10px;
	background-color: #EEE;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#solution{
	font-size:18px;
}

#solution .sol{
	margin-top:5px;	
}

#solution .stats span{
	margin-left:20px;
}

.quizview .sidenav>li, .quiz-analytics .sidenav>li{
	padding:10px
}


.questionno{
margin-top: 20px;
font-style: bold;
color: #0091B2}

.quizview li>a, .quiz-analytics >li>a{
	display: block;
	margin: 0px;
	padding: 4px;
	text-align: center;
	color: #C6C6C6;
	
}

.quizview > .row-fluid, .quiz-analytics > .row-fluid{
    height: 100%;
    min-height: 100%;
}

.quizview .detail-unit{
    height: 100%;
    min-height: 100%;
}


.quiz-analytics .box{
	padding : 10px 0px 25px 0px;
	margin-bottom:10px;
	border-bottom: 5px solid #CCC; 
}

.quiz-analytics .score{
	font-size: 40px;
	text-align: center;
	color: #0066B2;
	font-weight: bold;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display: inline;     /* for IE7*/
    *zoom:1;              /* for IE7*/
}

.nav-pills {
    text-align:center;
}

.modal-body{
    max-height:none;
}
.vid-modal{
    width:auto;
    left:40%;
}

.modal.fade.in {
    top:38%;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}