<div class="container dashboard">
    <div class="row-fluid" id="notification"></div>
    <div id="info"></div>
    <div class="box" id="performance"></div>
    
    
    <div class="row-fluid box das-sec3">
        <h3>Recommended Quizzes</h3>
        <div class="row-fluid span12 quiz-lib-sec2">
            <ul class="thumbnails quiz-lib-elements span11">
                <!--Quiz 1-->
                <li class="span4">
                    <div class="thumbnail box">
                        <div class="quiz-lib-t1 font-h5">
                            <img src="img/recommend.png" height="12" width="12" /> 125 <img
                                src="img/analytics-icon.png" height="14" width="14" /> 6
                        </div>
                        <div class="quiz-lib-t2 row-fluid">
                            <img src="img/physics.png" height="40" width="40"> <span
                                class="font-h4 bold">Physics Sectional Test</span>
                        </div>
                        <ul class="left quiz-lib-t4 font-h5">
                            <li>Problems from Mechanics and Electro</li>
                            <li>Tricky</li>
                        </ul>
                    </div>
                    <div class="box quiz-lib-t5 font-h5 bold">
                        <img src="img/5.jpg" height="25" width="25"> Raj Gupta
                    </div>
                </li>
                <!--Quiz 2-->
                <li class="span4">
                    <div class="thumbnail box">
                        <div class="quiz-lib-t1 font-h5">
                            <img src="img/recommend.png" height="12" width="12" /> 125 <img
                                src="img/analytics-icon.png" height="14" width="14" /> 6
                        </div>
                        <div class="quiz-lib-t2 row-fluid">
                            <img src="img/physics.png" height="40" width="40"> <span
                                class="font-h4 bold">Physics Sectional Test</span>
                        </div>
                        <ul class="left quiz-lib-t4 font-h5">
                            <li>Problems from Mechanics and Electro</li>
                            <li>Selected questions from I.E.Irodov</li>
                        </ul>
                    </div>
                    <div class="box quiz-lib-t5 font-h5 bold">
                        <img src="img/5.jpg" height="25" width="25"> Raj Gupta
                    </div>
                </li>
                <!--Quiz 3-->
                <li class="span4">
                    <div class="thumbnail box">
                        <div class="quiz-lib-t1 font-h5">
                            <img src="img/recommend.png" height="12" width="12" /> 125 <img
                                src="img/analytics-icon.png" height="14" width="14" /> 6
                        </div>
                        <div class="quiz-lib-t2 row-fluid">
                            <img src="img/physics.png" height="40" width="40"> <span
                                class="font-h4 bold">Math Sectional Test</span>
                        </div>
                        <ul class="left quiz-lib-t4 font-h5">
                            <li>Co-ordinate Geometry</li>
                            <li>Problems from Circles</li>
                        </ul>

                    </div>
                    <div class="box quiz-lib-t5 font-h5 bold">
                        <img src="img/5.jpg" height="25" width="25"> Raj Gupta
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
