<div class="row-fluid">
    <div class="span12">
        <div class="sidebar-nav">
            <ul class="nav nav-stacked left-menu">
                <li id="overall-nav"><a href="#"> <span> <i class="icon-home"></i>
                    </span> <span class="hidden-tablet hidden-phone">Dashboard</span>
                </a></li>
              <!--   <li id="rsquare-nav"><a href="#rsquare"> <span><i class="icon-home"></i>
                    </span> <span class="hidden-tablet hidden-phone">Results Square</span>
                </a></li> -->
                <li id="activity-nav"><a href="#activity"> <span> <i
                            class="icon-home"></i>
                    </span> <span class="hidden-tablet hidden-phone">Activity</span>
                </a></li>
                <li id="myprepsets-nav"><a href="#myprepsets"> <span> <i
                            class="icon-home"></i>
                    </span> <span class="hidden-tablet hidden-phone">My PrepSets</span>
                </a></li>
                <li id="review-nav"><a href="#review"> <span> <i class="icon-home"></i>
                    </span> <span class="hidden-tablet hidden-phone">Review Questions</span>
                </a></li>
                <li id="packages-nav"><a href="#mypackages"> <span> <i
                            class="icon-home"></i>
                    </span> <span class="hidden-tablet hidden-phone">My Packages</span>
                </a></li>
            </ul>
        </div>
        <div class="container-fluid content-wrapper">
            <div id="main-content"></div>
        </div>
    </div>
</div>
