<h3>Are you passionate about teaching and would want to reach out to more and more students
touch </h3>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input type="text" id="email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="fname">First Name</label>
        <div class="controls">
            <input type="text" id="fname">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="lname">Last Name</label>
        <div class="controls">
            <input type="text" id="lname">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="about">Phone Number </label>
        <div class="controls">
            <input type="text" id="phone">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="about">Tell us about yourself. Your past experience.(Include links if any) </label>
        <div class="controls">
            <textarea id="about"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn" id="contactButton">Sign Up</button>
        </div>
    </div>
</form>