<div class="container fac-dir">
    <h2>
        <i class="ico-stats"></i>Faculty
    </h2>
    <div class="well large">
        <div class="row-fluid">
            <div class="span3">
                <div class="input-prepend">
                    <span class="add-on">Name</span> <input id="prependedInput" type="text"
                        placeholder="type name">
                </div>
            </div>
            <div class="span3">
                <div class="input-prepend">
                    <span class="add-on">Subject</span> <select id="f-l1" class="input-small">
                        <option value="0">All</option>
                        <option value="1">Maths</option>
                        <option value="2">Physics</option>
                        <option value="3">Chemistry</option>
                    </select>
                </div>
            </div>
            <button type="button" class="btn input-small"  id="s-rec">Rec</button>
            <button type="button" class="btn input-small"  id="s-rec1">Sort
                Rec Up</button>
            <button type="button" class="btn input-small" id="s-rec2">Sort
                Rec Down</button>

            <button type="button" class="btn input-small"  id="s-tests">Tests</button>
            <button type="button" class="btn input-small"  id="s-tests1">Tests U</button>
            <button type="button" class="btn input-small"  id="s-tests2">Tests D</button>
        </div>
    </div>
    <ul id="fac-list" class="box unstyled">
    </ul>
</div>
