<div class="container faclib">
<div class="row-fluid">
    <div class="row-fluid quiz-lib-sec1">
        <div class="span3 quiz-lib-heading">
            <h2>FACULTY LIBRARY</h2>
        </div>
        <div class="span4">
            <form class="form-search">
                <input type="text" class="search-bar" placeholder="Search Name, Specialization etc">
                <a class="btn btn-primary" href="#search">Search</a>
            </form>
        </div>

        <!--  Use bootstrap to create this as a text field
                 <form class="form-search span4">
                   <input type="text" class="input-small search-query">
                   <button type="submit" class="btn"><img src="img/search-icon.png" /> </button>
                 </form>
                 -->
        <div class="span5">
            <div class="span4 quiz-lib-filter1">
                <h5>Most Recommended</h5>
            </div>
            <div class="span3 quiz-lib-filter1">
                <h5>Most Relevant</h5>
            </div>
            <div class="span4 quiz-lib-filter2 selected">
                <h5>Recently Joined</h5>
            </div>
        </div>
    </div>
        <div class="row-fluid" id="faclib-list">
    </div>
</div>
</div>