    <!--Individual Faculty Box -->
    <a class="pull-left" href="#fac/<%=id %>"> <img class="media-object fac-pic"
        src="../api/resources/fac/<%=id%>.jpg" height="80" width="80">
    </a>
    <div class="media-body faclib-fac">
        <div class="span7">
            <h4 class="media-heading bold"><%= firstName%> <%= lastName%></h4>
            <div class="faclib-details">
                <img src="img/subject-icon.png" height="20" width="20" /> <span
                    class="question-text"> <%= specialization %></span> <br> <img
                    src="img/work.png" height="25" width="20" /> <span class="question-text">
                    Worked at: <%= experience %> </span> <br> <img src="img/graduate.png" height="20"
                    width="20" /> <span class="question-text"> Education: <%= education %> </span>
                <br>
            </div>
        </div>
        <div class="span5 faclib-social">

            <img src="img/popular.png" height="15" width="15" /> <span class="question-text">
                <%=totalQuizzes %> tests taken </span> <br> <img src="img/recommend.png" height="15"
                width="15" /> <span class="question-text"> <%= rec %> recommenders </span>

            <div class="btn btn-small pull-right question-text">View profile</div>
        </div>
</div>