
<div class="media">
    <a class="pull-left" href="#fac/<%=id %>"> <img class="media-object" alt="" src="<%=dpUrl%>">
    </a>
    <div class="media-body">
        <div class="row-fluid">
            <div class="span8">
                <div class="media-heading">
                    <a href="#fac/<%=id %>" class="name"><%= firstName%> <%= lastName%></a><i>&middot;</i><span
                        class="specialization"><%= l1DisplayName %> </span>
                </div>
                <p><%=bioShort%></p>
                <!--<div class="info">
                    <i class="icon-lock"></i>Experience : <span><%= experience %></span>
                </div>
                <div class="info">
                    <i class="icon-book"></i>Education : <span><%= education %></span>
                </div>-->
            </div>
            <div class="span4">
                <ul class="stats">
                    <li style="padding:5px 0px"><i class="icon-signal"></i> <%=rec %> Recommenders</li>
                    <li style="padding:5px 0px"><i class="icon-th-list"></i><%=totalQuizzes %> Tests</li>
                    <li style="padding:5px 0px"><a href="#fac/<%=id %>" class="btn blue-btn">View Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>