<div class="media">
    <a class="pull-left" href="#"> <img class="media-object" alt="" src="">
    </a>
    <div class="media-body">
        <div class="row-fluid">
            <div class="span8">
                <div class="media-heading">
                    <span class="name"><%= firstName%> <%= lastName%></span><i class="icon-stop"></i><span
                        class="specialization"><%= specialization %> </span>
                </div>
                <p>marketting</p>
                <div class="info">
                    <i class="icon-lock"></i>Experience : <span><%= experience %></span>
                </div>
                <div class="info">
                    <i class="icon-book"></i>Education : <span><%= education %></span>
                </div>
            </div>
            <div class="span4">
                <div class="stats">
                    <ul class="unstyled">
                        <li><i class="icon-signal"></i> <%=totalQuizzes %> Recommenders</li>
                        <li><i class="icon-user"></i> <%=totalQuizzes %> Students</li>
                        <li><i class="icon-th-list"></i><%=totalQuizzes %> Tests</li>
                    </ul>
                    <a href="#fac/<%=id %>" class="btn">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>