 <div id="footer">
        <!-- start: Container -->
        <div class="container">
            <!-- start: Row -->
            <div class="row">
                <!-- start: About -->

                <!-- end: About -->
                <!-- start: Latest Tweets -->
                <div class="span12 center">
                    <h3 class="blue"><a>contactus@prepsquare.com</a> | <a>+91-9910097389</a></h3>
                    <h4>
                        <a>Facebook</a> | <a>Twitter</a> | <a>Blog</a> | <a>Expert Tips</a> | <a>About
                            PrepSquare</a>
                    </h4>


                    <h5 class="pull-right" style="color: white">
                        <a>Legal</a> | <a>Terms and Conditions</a> | <a>Privacy</a> | <a>About</a>
                        </h5>
                        <ul id="twitter">
                        </ul>
                        <div class="clear"></div>
                </div>


                <div class="span3"></div>
                <!-- end: Follow Us -->
            </div>
            <!-- end: Row -->
        </div>
        <!-- end: Container  -->
    </div>
    <!-- end: Footer -->
    <!-- start: Footer Menu -->

    <!-- end: Footer Menu -->
    <!-- start: Copyright -->
    <div id="copyright">
        <!-- start: Container -->
        <div class="container">
            <div class="sixteen columns">
                <p>
                    © 2012, <a href="http://www.prepsquare.com/">PrepSquare.</a>
                </p>
            </div>
        </div>
        <!-- end: Container  -->
    </div>
    <!-- end: Copyright -->
