<!--start: Container -->
<div class="container">
    <!--start: Row -->
    <div class="row">
        <!--start: Logo -->
        <div class="logo span3">
            <a class="brand" href="#"> <img
                src="img/logo1.png" style="width: 85px; margin-top: -13px;">
            </a>
        </div>
        <!--end: Logo -->
        <!--start: Navigation -->
        <div class="span9">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li id="lib-menu"><a href="#library">Practice</a></li>
                            <li id="fac-menu"><a href="#facs">Faculty</a></li>
                            <li id="packages-menu"><a href="#packages">Purchase</a></li>
                            <li id="signup-menu"><a href="#signup">Sign-Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Navigation -->
    </div>
    <!--end: Row -->
</div>

<!--end: Container-->