
<!--start: Container -->

<div class="container">
    <!--start: Row -->
    <div class="row">
        <!--start: Logo -->
        <div class="logo span3">
            <a class="brand" href="http://wbpreview.com/previews/WB0C44S9M/#"> <img
                src="img/logo1.png" style="width: 85px; margin-top: -13px;">
            </a>
        </div>
        <!--end: Logo -->
        <!--start: Navigation -->
        <div class="span9">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li id="quiz-menu"><a href="#quizLibrary">Test</a></li>
                            <li id="fac-menu"><a href="#facDirectory">Faculty</a></li>
                            <li id="packages-menu"><a href="#packages">Packages</a></li>
                            <li id="blog-menu"><a href="#">Blog</a></li>
                            <li id="home-menu"><a href="#">Home</a></li>
                            <li><a href="log-in">Log In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Navigation -->
    </div>
    <!--end: Row -->
</div>

<!--end: Container-->