<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#"><img src="img/logo1.png" class="" height="80px" width="95px"
            style="position: absolute; left: 38px; top: 2px;"></a>
        <div
            style="border-bottom: 1px solid #D4D4D4; border-right: 1px solid #D4D4D4; border-left: 1px solid #D4D4D4; -webkit-border-image: none; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px; -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 10px 0px; -webkit-filter: none; position: absolute; left: 38px; top: 51px; color: white; height: 38px; width: 95px; z-index: 1000;">
        </div>
        <div class="nav-collapse collapse pull-right">
            <ul class="nav">
                <li id="packages-menu"><a href="#packages">Packages</a></li>
                <li id="quiz-menu"><a href="#quizLibrary">Browse Library</a></li>
                <li id="fac-menu"><a href="#facDirectory">Search Faculty</a></li>
                <li id="home-menu"><a href="#">Home</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b class="caret"></b>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Settings</a></li>
                        <li><a id="logout">Log Out</a></li>
                    </ul></li>
                <li id="log-in"></li>
            </ul>
        </div>
    </div>
</div>