
<div class="row-fluid">
    <div class="span7">
        <div class="media box">
            <a class="pull-left" href="#"> <img class="media-object" src="img/128.gif">
            </a>
            <div class="media-body">
                <h3 class="media-heading"><%=firstName %> <%= lastName%></h3>
                <h4></h4>
            </div>
        </div>
    </div>
    <div class="span5">
        <div class="media box">
            <div class="media-body">
                <h4 class="media-heading">Score Card</h4>
                <hr class="soften">
                Dynamic Ascore ** <%=ascore %>
            </div>
        </div>
    </div>
</div>