<div class="row-fluid">
    <div class="span6 offset3 center">
        <h2 class="blue"><%=descriptionShort%></h2>
        <hr class="soften">
        <ul class="font-h4 left">
            <li>This problem set consists of <strong><%=totalQuestions %> questions</strong></li>
            <li><strong>Practice</strong> mode gives you the solution after you solve every
                question, while test mode is a timed test in which your strategy is tested</li>
            <li>We estimate these questions should take about <strong><%=totalTime%></strong></li>
            <li>There are <strong>4 marks</strong> for correct answer and <strong>-1</strong>
                for wrong answer
            </li>
            <li>Upon completing this problem set, you will be given a <strong>detailed
                    video solution</strong> to each question and an <strong>analysis</strong> of your
                performance
            </li>
        </ul>
        <br>
        <div class="row-fluid">
            <a class="btn btn-large blue-btn span6"> <span class="font-h3">Practice Mode</span><br>
                <span class="font-h4">Learn concepts as you practice</span>
            </a> <a class="btn btn-large orange-btn span6"> <span class="font-h3">Test Mode</span><br>
                <span class="font-h4">Test your exam strategy</span>
            </a>
        </div>
    </div>
</div>

