
<div class="container landing center">


    <div
        style="background: url('https://d1y9by3jjulfzw.cloudfront.net/assets/marketing/home-background-abb94777914280f44b9a1bbe6c48b3ec.jpg'); padding: 20px 0px; min-height: 350px;">
        <div class="row-fluid">



            <div class="span7 center">
                <h1 style="color: white; font-weight: 100; margin-bottom: 40px; margin-top: 40px;">
                    Perfect your strategy for JEE 2013</h1>
                <h3 style="color: white; font-weight: 100;">PrepSquare provides you tests
                    created by the best teachers and gives you feedback at every step, helping you
                    get the most out of your exam preparation</h3>
            </div>




        </div>

        <a class="btn btn-large orange-btn" style="margin-top: 50px;">Get started for FREE</a>

    </div>
</div>

<!-- Landing page marketing info
    ================================================== -->

<div class="container testimonials">

    <span class="pull-left font-h2 bold testi-head">See what people are saying about us</span>
    <div class="test-ind"></div>



</div>



<div class="prod-feature">
    <div style="width: 60%; margin: 0px auto">

        <!--1-->

        <div class="row-fluid feature-row">
            <div class="span6 ">
                <img src="img/profcover.jpg">
            </div>
            <div class="span6">
                <h2>The Best Teachers</h2>
                <p>Prep Square has the best teachers delivering video solutions for each
                    question you solve</p>
                <a class="pull-right font-h3 top-margin" style="color: #F4763E;">Learn More
                    about our Faculty -></a>
            </div>
        </div>

        <!--2-->
        <div class="row-fluid feature-row">

            <div class="span6">
                <h2>Personalized Feedback</h2>
                <p>Helps you understand your weak areas at the lowest level, and understand
                    where you stand at an all-India level</p>
                <a class="pull-right font-h3 top-margin" style="color: #F4763E;">Learn More
                    about our Algorithms -></a>

            </div>


            <div class="span6 ">
                <img src="img/profcover.jpg">
            </div>


        </div>

        <!--3-->
        <div class="row-fluid feature-row">
            <div class="span6 ">
                <img src="img/profcover.jpg">
            </div>
            <div class="span6">
                <h2>High Quality Tests</h2>
                <p>Follow our recommended study plans, or take a test selected just for you.
                    Make the most of every minute you spend here</p>
                <a class="pull-right font-h3 top-margin" style="color: #F4763E;">Learn More
                    about Recommendations -></a>
            </div>
        </div>



    </div>

    <div class="row-fluid center bottom-margin">
        <a class="btn btn-large orange-btn" style="margin-top: 50px;">Take your first few tests
            for FREE</a>
    </div>

    <hr>


    <hr>
</div>


