
<!-- Landing Page top image
    ================================================== -->

<div class="container landing">
    <div class="row-fluid">
        <div class="span7">
            <div class="top-content center">
                <h1>
                    Personalized Preparation<br> to ensure Competitive Exams Success
                </h1>
                
            </div>
        </div>
        <div class="span5" id="sign-up"></div>
    </div>
</div>

<!-- Landing page marketing info
    ================================================== -->
<div class="container marketing">
    <hr class="soften">
    <div class="search center">
        <h2>What are you preparing for ?</h2>
        <form class="form-search">
            <input type="text" class="search-bar" placeholder="JEE, Medical,.."> <a
                class="btn btn-primary" href="#search">Search</a>
        </form>
    </div>
</div>
<div class="container feature-row">
    <div class="span3 center">
        <img src="img/teachers.png" height="100" width="100">
        <h3>The Best Teachers</h3>
        <p class="left font-h4">Prep Square has the best teachers for every examination
            delivering video solutions for each question you solve</p>
    </div>
    <div class="span1 center"></div>
    <div class="span3 center">
        <img src="img/feedback.png" height="190" width="190">
        <h3>Personalized Feedback</h3>
        <p class="left font-h4">Helps you understand your weak areas at the lowest level, and
            understand where you stand at an all-India level</p>
    </div>
    <div class="span1 center"></div>
    <div class="span3 center">
        <img src="img/wordcloud.png" height="175" width="175">
        <h3>Smart Recommendations</h3>
        <p class="left font-h4">Follow our recommended study plans, or take a test selected just
            for you. Make the most of every minute you spend here.</p>
    </div>
    <div class="span1 center"></div>
</div>
<!-- <div id="sign-up"></div> -->
