<div class="container landing center">
    <div class="row-fluid">
        <div class="span12"
            style="background: url('img/landing.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 20px 0px; min-height: 500px">
            <div class="row-fluid">
                <div class="span5"></div>
                <div class="span7 right" style="margin-top: 80px; padding-right: 20px;">
                    <h1
                        style="color: white; font-weight: 300; margin-bottom: 20px; margin-top: 0px;">
                        Perfect your strategy for JEE 2013</h1>
                    <h2 style="color: white; font-weight: 300;">
                        A library of top-quality questions <br> and video solutions from
                        India's best teachers
                    </h2>
                    <br> <br>
                </div>
                <a class="btn btn-large orange-btn pull-right">Get started for FREE</a>
            </div>
        </div>
    </div>
    <div class="container marketing">
        <div class="center" style="line-height: 40px;">
            <span style="font-weight: normal; font-size: 23px;"> What people have to say
                about learning at PrepSquare </span> <br>
        </div>
        <div class="container testimonials center row-fluid">
            <div class="span1"></div>
            <div class="test-ind span10">
                <span class="span1"><img src="img/testimonial1.jpg" /> </span>
                <div class="span8 font-h3 left italics"
                    style="font-weight: normal; margin-top: 10px;">"For the JEE, it is
                    important to perfect your strategy before the exam. PrepSquare motivates and
                    gives excellent feedback on performance"</div>
                <span class="span3 bold" style="margin-top: 10px"> Amitabh Saraswati, AIR 19
                    (JEE 2011) </span>
            </div>
        </div>
    </div>


    <div class="prod-feature">
        <div style="width: 75%; margin: 0px auto">
            <div class="row-fluid feature-row">
                <div class="span6">
                    <img src="img/best_teacher.jpg" width="450" class="imgbox">
                </div>
                <div class="span6">
                    <h2>Learn from the Best Teachers</h2>
                    <ol>
                        <li class="feature-bullets">PrepSquare partners with the best teachers
                            in each subject.</li>
                        <li class="feature-bullets">Our problem sets are designed by these
                            teachers to help you understand and master concepts</li>
                        <li class="feature-bullets">Each problem has a video solution</li>
                    </ol>

                    <a class="pull-right font-h3 top-margin" style="color: #F4763E; cursor: pointer">Learn
                        More about our faculty</a>
                </div>
            </div>

            <!--2-->
            <div class="row-fluid feature-row">

                <div class="span6">
                    <h2>Get Personalized Feedback</h2>
                    <ol>
                        <li class="feature-bullets">Helps you understand your weak and strong
                            areas</li>
                        <li class="feature-bullets">Intelligent recommendations so you can get
                            the most out of your preparation</li>
                        <li class="feature-bullets">Direct action points for you to maximize
                            your performance</li>

                    </ol>
                    <a class="pull-right font-h3 top-margin" style="color: #F4763E; cursor: pointer">Learn
                        More about our algorithms </a>
                </div>
                <div class="span6 ">
                    <img src="img/exam.jpg" width="450" class="imgbox">
                </div>

            </div>
            <!--3-->
            <div class="row-fluid feature-row">
                <div class="span6 ">
                    <img src="img/power_choice.jpg" width="450" class="imgbox">
                </div>
                <div class="span6">
                    <h2>Get the Power of Choice</h2>
                    <ol>
                        <li class="feature-bullets">Rather than a fixed question bank, you can
                            choose what topic you want to study and what teacher you want to study
                            from</li>
                        <li class="feature-bullets">Each test is rated by popularity,
                            difficulty and concepts tested</li>
                     </ol>       
                </div>
                <a class="pull-right font-h3 top-margin" style="color: #F4763E; cursor: pointer">Learn
                    More about our problem sets</a>
            </div>

            <div class="row-fluid center bottom-margin">
                <a class="btn btn-large orange-btn" style="margin-top: 50px;">Try out your first
                    few problem sets for FREE</a>
            </div>

        </div>
    </div>
    </div>