<div class="box">
    <div class="row-fluid">
        <div class="menu center font-h3">
            <div class="btn-group">
                <a class="btn white-btn" href="#learn/pq" id="pq-menu">PrepQuotient</a> <a
                    class="btn white-btn" href="#learn/tests" id="tests-menu"> Concepts through
                    Tests </a> <a class="btn white-btn" href="#learn/faculty" id="faculty-menu"> The
                    Best Teachers </a> <a class="btn white-btn" href="#learn/feedback" id="faculty-menu">
                    Personalized Feedback </a>
            </div>
        </div>
    </div>
    <div id="pq-div">
        <div class="row-fluid feature-row">
            <div class="span2 offset1">
                <div class="rounded center"
                    style="padding: 10px; min-height: 50px; background: #F4763E">
                    <h1 class="blue bold" style="color: white">49</h1>
                </div>
            </div>
            <div class=" span6 offset1">
                <h2 class="blue">What Does PrepQuotient Represent</h2>
                <p>
                    The PrepQuotient is a measurement of the following
                </p>
            </div>
        </div>
    </div>
    <div id="tests-div">
        <div class="row-fluid feature-row">
            <div class="span6 center">
                <img src="img/learnmore11.jpg" class="center" />
            </div>
            <div class=" span6">
                <h2 class="blue">Carefully graded problem sets</h2>
                <p>Prepsquare has problem sets for different stages and levels of preparation:
                    Fundamental, CBSE, JEE Mains and JEE Advanced. Each problem set is designed by a
                    teacher to teach you all the concepts they feel are the most important.</p>
            </div>
        </div>
        <div class="row-fluid feature-row">
            <div class=" span6 center">
                <h2 class="blue">Optional test mode</h2>
                <p>Practice the questions one at a time in practice mode; or take the test mode
                    in which your test strategy is assessed. Each problem set has roughly 20-25
                    questions which has been calibrated to be a 1hour test.</p>
            </div>
            <div class="span6 center">
                <img src="img/learnmore12.jpg" width="500" class="center" />
            </div>
        </div>
    </div>
    <div id="faculty-div">
        <div class="row-fluid feature-row">
            <div class="span6 center">
                <img src="img/learnmore21.jpg" class="center" />
            </div>
            <div class=" span6">
                <h2 class="blue">Award winning experienced faculty</h2>
                <p>PrepSquare gives you access to the best teachers from Delhi, Kota, Mumbai and
                    Chandigarh for engineering preparation. Between them, our faculty partners have
                    produced hundreds of under-50 AIRs over the last 20 years. Never before has a
                    student had access to so many great teachers on one platform.</p>
            </div>
        </div>

        <div class="row-fluid feature-row">
            <div class=" span6 center">
                <h2 class="blue">Video solutions to each question</h2>
                <p>PrepSquare gives you a video solution for each question, created by the same
                    faculty who made the test. The focus of the video is to explain the key concepts
                    and tips and tricks that you can use for the exam. You will be shown only those
                    video segments that you did wrong or that the teacher thinks are important so
                    you do not waste time.</p>
            </div>
            <div class="span6 center">
                <img src="img/learnmore22.jpg" width="500" class="center" />
            </div>
        </div>
    </div>
    <div id="feedback-div">
        <div class="row-fluid feature-row">
            <div class="span6 center">
                <img src="img/learnmore31.jpg" class="center" />
            </div>
            <div class=" span6">
                <h2 class="blue">Performance assessment</h2>
                <p>We have created a very advanced system to assess your performance. Understand
                    what part of trigonometry or organic chemistry you are weak in, and then spend
                    your time attempting problems of an appropriate level.</p>
            </div>
        </div>
        <div class="row-fluid feature-row">
            <div class=" span6 center">
                <h2 class="blue">Direct recommendations</h2>
                <p>PrepSquare has smart algorithms to figure out how best to plan out your study
                    schedule. Our system provides you with recommendations on what problem set is
                    most apt for you, and how you can improve your exam taking strategy.</p>
            </div>
            <div class="span6 center">
                <img src="img/learnmore32.jpg" width="500" class="center" />
            </div>
        </div>
    </div>

    <div class="row-fluid center top-margin bottom-margin">
        <a href="#signup" class="btn btn-large orange-btn"> Get Started for FREE</a>
    </div>
</div>