<div class="container learn">

    <div class="row-fluid">
        <div class="span12 center">
            <div class="btn-group font-h3 toolbar">
                <a class="btn white-btn" href="#learn/tests"> Concepts through Tests </a> 
                <a class="btn white-btn" href="#learn/faculty"> The Best Teachers </a> 
                <a class="btn white-btn" href="#learn/feedback"> Personalized Feedback </a> 
                <a class="btn white-btn" href="#learn/choice"> Power Of Choice </a> 
                <a class="btn white-btn" href="#learn/started"> Get started for Free</a>
            </div>
        </div>
    </div>
    <div class="row-fluid" id="tests-div">
        <h2 class="center learn-heading2" style="font-weight: 100">Learn concepts through
            problem sets</h2>
        <hr class="soften bottom-margin">
        <div class="row-fluid">
            <div class="span6 center">
                <img src="img/profcover.jpg" width="500" class="center" />
            </div>
            <div class=" span6 center font-h3 learn-text2">
                <span class="bold center">Carefully graded problem sets</span> <br> <br>
                Prepsquare has problem sets for different stages and levels of preparation:
                Fundamental, CBSE, JEE Mains and JEE Advanced. Each problem set is designed by a
                teacher to teach you all the concepts they feel are the most important.
            </div>
        </div>

        <div class="row-fluid top-margin">
            <div class=" span6 center font-h3 learn-text2">
                <span class="bold center">Optional test mode</span> <br> <br>Practice the
                questions one at a time in practice mode; or take the test mode in which your test
                strategy is assessed. Each problem set has roughly 20-25 questions which has been
                calibrated to be a 1hour test.
            </div>
            <div class="span6 center">
                <img src="img/profcover.jpg" width="500" class="center" />
            </div>
        </div>
    </div>

    <div class="row-fluid" id="faculty-div">
        <h2 class="center learn-heading2" style="font-weight: 100">The Best Teachers</h2>

        <hr class="soften bottom-margin">

        <div class="row-fluid">
            <div class="span6 center">
                <img src="img/profcover.jpg" width="500" class="center" />
            </div>
            <div class=" span6 center font-h3 learn-text2">
                <span class="bold center">Award winning experienced faculty</span> <br> <br>PrepSquare
                gives you access to the best teachers from Delhi, Kota, Mumbai and Chandigarh for
                engineering preparation. Between them, our faculty partners have produced hundreds
                of under-50 AIRs over the last 20 years. Never before has a student had access to so
                many great teachers on one platform
            </div>
        </div>

        <div class="row-fluid top-margin">
            <div class=" span6 center font-h3 learn-text2">
                <span class="bold center">Video solutions to each question</span> <br> <br>PrepSquare
                gives you a video solution for each question, created by the same faculty who made
                the test. The focus of the video is to explain the key concepts and tips and tricks
                that you can use for the exam. You will be shown only those video segments that you
                did wrong or that the teacher thinks are important so you do not waste time.
            </div>
            <div class="span6 center">
                <img src="img/profcover.jpg" width="500" class="center" />
            </div>
        </div>
    </div>

    <div class="row-fluid" id="feedback-div">
        <h2 class="center learn-heading2" style="font-weight: 100">Personalized Feedback</h2>
        <hr class="soften bottom-margin">

        <div class="row-fluid">
            <div class="span6 center">
                <img src="img/profcover.jpg" width="500" class="center" />
            </div>
            <div class=" span6 center font-h3 learn-text2">
                <span class="bold center">Performance assessment </span> <br> <br>We have
                created a very advanced system to assess your performance. Understand what part of
                trigonometry or organic chemistry you are weak in, and then spend your time
                attempting problems of an appropriate level
            </div>
        </div>

        <div class="row-fluid top-margin">
            <div class=" span6 center font-h3 learn-text2">
                <span class="bold center">Direct recommendations</span> <br> <br>PrepSquare
                has smart algorithms to figure out how best to plan out your study schedule. Our
                system provides you with recommendations on what problem set is most apt for you,
                and how you can improve your exam taking strategy
            </div>
            <div class="span6 center">
                <img src="img/profcover.jpg" width="500" class="center" />
            </div>
        </div>
    </div>

    <div class="row-fluid" id="choice-div">
        <h2 class="center learn-heading2" style="font-weight: 100">The Power of Choice</h2>

        <hr class="soften bottom-margin">

        <div class="row-fluid">
            <div class="span6 center">
                <img src="img/profcover.jpg" width="500" class="center" />
            </div>
            <div class=" span6 center font-h3 learn-text2">
                <span class="bold center">A vast quiz library</span> <br> <br>We give you
                the option to choose from a vast collection of problem sets. These have problems and
                video solutions created by many experienced teachers explaining the concepts for
                each topic.

            </div>
        </div>

        <div class="row-fluid top-margin">
            <div class=" span6 center font-h3 learn-text2">
                <span class="bold center">Video solutions to each question</span> <br> <br>b.
                Work on the appropriate level in each topic Ð Start with the basic level, or attempt
                the JEE advanced level directly if you feel you are confident about it Ð Prepsquare
                gives you the choice to take up the appropriate level based on where you stand in
                that topic
            </div>
            <div class="span6 center">
                <img src="img/profcover.jpg" width="500" class="center" />
            </div>
        </div>
    </div>

    <div class="row-fluid" id="started-div">
        <h2 class="center learn-heading2" style="font-weight: 100">Get Started for Free</h2>

        <hr class="soften bottom-margin">

        <div class="row-fluid">
            <div class="span6 center">
                <img src="img/profcover.jpg" width="500" class="center" />
            </div>
            <div class=" span6 center font-h3 learn-text2">
                <span class="bold center">Free access to your first 2 sets</span> <br> <br>We
                allow you to choose any 2 problem sets and attempt a part of them for free to get a
                flavour of PrepSquare
            </div>
        </div>

        <div class="row-fluid top-margin">
            <div class=" span6 center font-h3 learn-text2">
                <span class="bold center">Sample our analytics and progress trackers</span> <br>
                <br>PrepSquare creates your profile and tracks your progress even in trial mode
                so you get to see how it works. If you like us (and we are sure you will!), you can
                purchase a package of 10 problem sets for Rs 599
            </div>
            <div class="span6 center">
                <img src="img/profcover.jpg" width="500" class="center" />
            </div>
        </div>
    </div>
    <div class="row-fluid center top-margin bottom-margin">
        <a href="../client/#signup" class="btn btn-large orange-btn"> Get Started for FREE</a>
    </div>
</div>