<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="modalLabel">
            <div class="media">
                <a class="pull-left" href="#fac/<%=id %>"> <img class="media-object"
                    src="../api/resources/fac/<%=fid%>.jpg" height="80px" width="80px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><%= firstName%> <%= lastName%></h4>
                </div>
            </div>
        </h3>
    </div>
    <div class="modal-body">
        <div class="media">
            <a class="pull-left" href="#fac/<%=id %>"> <img class="media-object"
                src="img/l1_1.png" height="20px" width="20px">
            </a>
            <div class="media-body">
                <h4 class="media-heading"><%= topics %></h4>
            </div>
        </div>
        <p class="center">
            <img src="../api/resources/fac/<%=fid%>.jpg" height="200" width="185" alt="" style="border:2px solid #ccc ; padding:5px">
        <p><%= description %></p>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#quiz/<%=id %>" class="btn btn-primary">Redeem your package and take the quiz</a>
    </div>
</div>