
<div class="row-fluid">
    <div class="page-title">
        <h2>My PrepSets</h2>
        <p>This section lets you access your incomplete problem sets and go through your
            historical problem sets</p>
    </div>
</div>

<div class="row-fluid">
    <div class="box info">
        <h3>Paused</h3>
        <div id="paused"></div>
    </div>
</div>
<br>
<div class="row-fluid">
    <div class="box info">
        <h3>Interrupted</h3>
        <div id="interruped"></div>
    </div>
</div>
<br>
<div class="row-fluid">
    <div class="box info">
        <h3>Historical PrepSets</h3>
        <div id="history"></div>
    </div>
</div>
<br>
<br>
