<div class="container packages">
    <div class="row-fluid ">
        <h2>Engineering UG Packages</h2>
        Our packages give you access to all the functionalities offered by PrepSquare. You can
        select packages based on the number of sectional and full-length tests
    </div>
    <table class="table" id="package-list">
        <tr>
            <th>Package</th>
            <th>Full Length</th>
            <th>Sectional</th>
            <th>Recommendations</th>
            <th>Analytics</th>
            <th>Video</th>
            <th>Price</th>
            <th></th>
        </tr>
    </table>
</div>