<div class="row-fluid">
    <div class="span4">
        <h4><%= displayName %></h4>
    </div>
    <div class="span3">
        <div class="progress progress-success">
            <div class="bar" style="width: 70%;"></div>
        </div>
    </div>
    <div class="stars pull-right span3">
      <%if(displayName!='Physics'){  %>
       <img src="img/stars.jpg" height="20" width="120" />
      <%}else{  %>
         <img src="img/stars2.jpg" height="20px" width="60px" />
      <%} %>
        
    </div>
</div>
<div id="l2-performance"></div>