<h2><%= displayName %></h2>
<!--Level 2 -->
<div class="row-fluid">
    <div class="span4">
        <ul class="nav nav-list c-list l2">
        </ul>
    </div>
    <div class="span4">
        <ul class="nav nav-list c-list l3">
        </ul>
    </div>
    <!--Detailed Info -->
    <div class="span4">
        <div class="l3-stats">
            <div class="row-fluid">
                <div class="span8">
                    <h3 id="topic"></h3>
                </div>
                <div class="span4">
                    <h3>
                        <span id="pts"></span> pts
                    </h3>
                </div>
            </div>
            <div class="progress" id="bar">
                <div class="bar bar-warning" style="width: 45%"></div>
                <div class="bar bar-success" style="width: 1%;"></div>
            </div>
            <div class="val">
                <div class="row-fluid">
                    <div class="span8">Total Questions</div>
                    <span class="span4" id="total"></span>
                </div>
                <div class="row-fluid">
                    <div class="span8">Correct</div>
                    <span class="span4" id="correct"></span>
                </div>
                <div class="row-fluid">
                    <div class="span8">Incorrect</div>
                    <span class="span4" id="incorrect"></span>
                </div>
                <div class="row-fluid">
                    <div class="span8">Unattempted</div>
                    <span class="span4" id="unattempted"></span>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <button class="btn">Review Questions</button>
                </div>
            </div>
        </div>
    </div>
</div>