<!--Level 2 -->
<div class="header l1">
    <h3>
        <a><%= displayName %> <span class="pull-right" style="position: relative; bottom: 8px">
            <img src="img/star-icon.png" height="27px"> <img src="img/star-icon.png"
            height="27px"> <img src="img/star-icon.png" height="27px">
        </span></a>
    </h3>
</div>
<div class="content">
    <div class="row-fluid">
        <div class="span4">
            <ul class="nav c-list l2">
            </ul>
        </div>
        <div class="span4">
            <ul class="nav c-list l3">
            </ul>
        </div>
        <!--Detailed Info -->
        <div class="span4">
            <ul class="stats l3-stats">
                <li>
                    <h3 class="zero-margin">
                        <span id="topic"></span> :<span id="pts"></span> pts
                    </h3>
                </li>
                <li>
                    <div class="level">
                        <div class="progress" id="bar">
                            <div class="bar bar-warning" style="width: 56%"></div>
                        </div>
                    </div>
                </li>
                <li><span class="key">Total Questions</span> <span class="value" id="total"></span>
                </li>
                <li><span class="key">Correct</span> <span class="value" id="correct"></span></li>
                <li><span class="key">Incorrect</span> <span class="value" id="incorrect"></span>
                </li>
                <li><span class="key">Unattempted</span> <span class="value" id="unattempted"></span>
                </li>
                <li><span class="key"> <a class="btn blue-btn" href="#review" id="2"> <span
                            class="">Review</span></a>
                </span> <span class="value"> <a class="btn orange-btn" href="#library" id="1"> <span
                            class="">Take Quiz</span>
                    </a>
                </span></li>
            </ul>
        </div>
    </div>
</div>