<div class="thumbnail box quiz-box" 
<% if(hasAttempted){ %>
style="opacity:.6"
<% } %>
>
    <div class="quiz-lib-t1 row-fluid">
        <div class="span3 img-test">
            <img src="<%=logo%>" width="35" />
        </div>
        <div class="font-h4 span9 topic-test"><%=l1DisplayName%></div>
    </div>
    <div class="row-fluid quiz-lib-t2 row-fluid">
        <div class="font-h4 bold center"><%= descriptionShort %></div>
    </div>
    <% if(fid){ %>
    <div class="row-fluid quiz-lib-t3 media-object font-h5">
        <div class="span4 prof-img">
            <img class="media-object" src="<%=fdpURL%>" width="50px">
        </div>
        <div class="span8 prof-bio">
            <span class="bold font-h4"><%= firstName %> <%= lastName %> </span> <br>
               <em><%=bioShort %></em>  <br>
        </div>
    </div>
    <%}%>
    <div class="row-fluid quiz-lib-t4 font-h4">
        <div class="span6 center font-h5">
            <img src="img/recommend.png" width="20" /> <span class="bold"> <%=rec%> recommenders
            </span>
        </div>
        <div class="span6 center font-h5">
            <img src="img/analytics-icon.png" width="20" /> <span class="bold"> <%=
                    difficulty %>
            </span>
        </div>
    </div>
</div>