<div class="row-fluid">
    <div class="page-title">
        <h2>PrepSets</h2>
        <p>The most amazing questions ever</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">
        <div class="input-prepend">
            <span class="add-on">Toughness</span> 
            <select id="f-tness" class="selectpicker">
                <option value="0">All</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>
    <div class="span4">
        <div class="btn-group" data-toggle="buttons-checkbox">
            <button class="btn" id="s-rec">Sort by Popularity</button>
            <button class="btn" id="s-new">Sort by Newest</button>
        </div>
    </div>
</div>
<hr class="soften">
<br>
<div class="row-fluid" id="quizzes"></div>