<div class="container quizview">
    <div class="row-fluid">
        <div class="span2">
            <div class="span2"></div>
            <div class="span10 sidebar">
                <ul class="nav nav-list center sidebar font-h4">
                    <li><a id="analytics">Analytics</a></li>
                    <li class="questionno font-h4">Question No</li> <% for(var i=0; i
                    <totalQuestions; i++){
			%>
                    <li><a id="<%=i %>" class="qnolist"><%=(i+1) %></a></li>
                    <% } %> <!-- <li><a href="#"><i class="icon-chevron-right"></i> 1</a></li>
				<li><a href="#"><i class="icon-chevron-right"></i> 2</a></li>
				<li><a href="#"><i class="icon-chevron-right"></i> 3</a></li>
				 -->
                </ul>
            </div>
        </div>
        <div class="span10" style="min-height: 100%; height: 100%">
            <div id="quiz-div">
                <div class="question-toolbar affix-top">
                    <div class="row-fluid">
                        <div class="span2">
                            <a id="previous"><img src="img/previous.png" style="width: 40px">Previous
                            </a><br>
                        </div>
                        <div class="span3">
                            <img src="img/timer.png" style="width: 40px">Time : <span
                                id="time"></span>
                        </div>
                        <div class="span4">
                            <a id="submit"><img src="img/submit.png" style="width: 40px">Submit
                            </a><br>
                        </div>
                        <div class="span2">
                            <a id="next"><img src="img/next.png" style="width: 40px"> Next
                            </a><br>
                        </div>
                    </div>
                </div>
                <div id="solution" class="yellow-box"></div>
                <div id="question" style="min-height: 80%; height: 80%" class="unselectable"></div>
            </div>
            <div id="results-div"></div>
        </div>
    </div>
</div>