<div class="thumbnail box">
    <div class="quiz-lib-t1 font-h5">
        <img src="img/recommend.png" height="14" width="14" /> 125 <img src="img/fire.png"
            height="14" width="14" /> <%= difficulty %>
    </div>
    <div class="quiz-lib-t2">
        <img src="img/physics.png" height="125" width="110">
    </div>
    <div class=" quiz-lib-t3">
        <h4><%= name %></h4>
    </div>
    <div class="left quiz-lib-t4 font-h5">
        <span><%= descriptionShort %></span>
    </div>
</div>
<div class="box quiz-lib-t5 font-h5 bold">
    <img src="img/prof1.jpg" height="25" width="25"> <%= firstName %> <%= lastName %>
</div>

<!-- <div class="thumbnail box">
    <%= difficulty %> | <%= ratings %> | <%= tags %> |<%= id %>
    <img src="img/128.gif" height="150" width="125" alt="">
    <h5><%= name %></h5>
    <p> <%= descriptionShort %></p>
</div>
<div class="box">
        <img src="img/50.gif" height="30" width="30"> <%= firstName %> <%= lastName %>
</div>

 -->