<div class="row-fluid">
    <div class="page-title">
        <h2>PrepSets</h2>
        <p>The most amazing questions ever</p>
    </div>
</div>
<div class="row-fluid">
    Toughness <select id="f-tness" class="input-small">
        <option value="0">All</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <button type="button" class="btn input-small" id="s-rec">Rec</button>
    <button type="button" class="btn input-small" id="s-rec1">Sort Rec Up</button>
    <button type="button" class="btn input-small" id="s-rec2">Sort Rec Down</button>

    <hr class="soften">
    <div class="row-fluid" id="quizzes"></div>
</div>
