<div class="row-fluid">
    <h2>QUIZ LIBRARY</h2>
    Test Type
    <select id="f-type" class="input-small">
        <option value="0">All</option>
        <option value="1">Full Length</option>
        <option value="2">Sectional</option>
    </select>
    
    Subject
    <select id="f-l1" class="input-small">
        <option value="0">All</option>
        <option value="1">Maths</option>
        <option value="2">Physics</option>
        <option value="3">Chemistry</option>
    </select>
    
<!--     Topics
    <select id="f-toughness">
        <option value="0">All</option>
        <option value="1">Full Length</option>
        <option value="2">Sectional</option>
    </select>
 -->    
    Toughness
    <select id="f-tness" class="input-small">
        <option value="0">All</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <button type="button" class="btn input-small" id="s-rec">Rec</button>
    <button type="button" class="btn input-small" id="s-rec1">Sort Rec Up</button>
    <button type="button" class="btn input-small" id="s-rec2">Sort Rec Down</button>
    
    <hr class="soften">
    <div class="row-fluid" id="quizzes"></div>
</div>
