<div class="thumbnail box">
    <div class="quiz-lib-t1 font-h5">
        <img src="img/recommend.png" height="12" width="12" /> <%=rec%> <img
            src="img/analytics-icon.png" height="14" width="14" /> <%= difficulty %>
    </div>
    <div class="quiz-lib-t2 row-fluid">
        <img src="img/l1_<%=l1%>.png" height="40" width="40"> <span class="font-h4 bold"><%
            if(!topics){ %>Full Length <%}else{ %> <%=topics %><%}%> </span>
    </div>
    <ul class="left quiz-lib-t4 font-h5">
        <li><%= descriptionShort %></li>
    </ul>
</div>
<%
if(fid){ %>
<div class="box quiz-lib-t5 font-h5 bold">
    <img src="../api/resources/fac/<%=fid%>.jpg" height="25" width="25"> <%= firstName %> <%= lastName %>
</div>
<%}%>