<div class="container results">
    <div class="row-fluid">
        <div class="span12">
            <div class="sidebar-nav">
                <ul class="nav nav-stacked left-menu resnav">
                    <li id="analysis"><a> <span> <i class="icon-home"></i>
                        </span> <span class="hidden-tablet hidden-phone">Analysis</span>
                    </a></li>
                    <li id="graphs"><a> <span><i class="icon-home"></i> </span> <span
                            class="hidden-tablet hidden-phone">Graphs</span>
                    </a></li>
                    <li id="solutions"><a> <span> <i class="icon-home"></i>
                        </span> <span class="hidden-tablet hidden-phone">Solution</span>
                    </a></li>
                </ul>
            </div>
            <div class="container-fluid content-wrapper">
                <div id="analysis-div"></div>
                <div id="graphs-div"></div>
                <div id="solutions-div"></div>
            </div>
        </div>
    </div>
</div>