<div class="row-fluid">
    <div class="span4 outline stat-gradient"
        style="margin-top: 20px; padding: 18px; min-height: 135px;">
        <p class="font-h2 bold red">
            <%= score %>/<%=maxScore%></p> was your score 
        <p>    <strong class="red">20</strong> Attempted <strong
                class="red"><%=correct %></strong> Correct <strong class="red"><%=incorrect
                %></strong> Incorrect
        </p>
    </div>
    <div class="span4 outline center stat-gradient"
        style="margin-top: 20px; padding: 18px; min-height: 135px;">
        <p class="font-h2 bold blue center"><%=timeTaken %></p>
        <p>was the time you took</p>
        <p>
            Others finished this in <span class="blue bold"> 25 minutes </span>
    </div>
    <div class="span4 outline stat-gradient"
        style="margin-top: 20px; padding: 18px; min-height: 135px;">
        <p>
            You're in the <strong class="font-h2 orange">Top 20%!</strong>
        </p>
        <p>of people who gave this set</p>
        <p>
            Average Set Score was <strong class="orange bold"> 75</strong>
        </p>
    </div>
</div>
<br>
<h3>Video</h3>
<hr class="soften">
<br>
<div id="video">
    <a href="#myModal" data-toggle="modal"> <img src="img/video1.jpg" width="200px"
        height="150px">
    </a>
</div>
<br>
<h3>Topic-wise performance</h3>
<hr class="soften">
<br>
<div id="topic-wise">
    
</div>