<div class="row-fluid">
<div class="span2 offset4 btn blue-btn"> View your overall performance </div>
<div class="span2 offset2"> Graph Analysis <i class="icon-chevron-right"></i> </div>
</div>
<div class="row-fluid">
    <div class="span5 offset1 rounded center stat-gradient"
        style="margin-top: 5px; min-height: 90px;">
        <h2 class="bold red"><%= score %>/<%=maxScore%></h2>
        was your score
        <p>
            <strong class="red"><%=totalQuestions%></strong> Total <strong class="red"><%=correct %></strong>
            Correct <strong class="red"><%=incorrect %></strong> Incorrect
        </p>
    </div>
    <div class="span5 rounded center stat-gradient"
        style="margin-top: 5px; min-height: 90px;">
        <h2 class="bold blue center"><%=timeTaken %></h2>
        was the time you took
        <p>
            Others finished this in <span class="blue bold"> 25 minutes </span>
        </p>
    </div>
    
</div>
<br>
<h3 class="center blue">Video</h3>
<hr class="soften">
<br>
<div id="video">
    
</div>
<br>
<div id="topic-performance">
    <h3 class="center blue">Topic-wise performance</h3>
    <hr class="soften">
    <br>
    <div id="topic-wise"></div>
</div>