<div class="row-fluid">
    <div class="btn-group offset2 insightItem" data-toggle="buttons-radio">
        <button class="btn btn-large active" id="timeTaken">Time Analysis</button>
        <button class="btn btn-large" id="difficulty">Difficulty Analysis</button>
        <!-- <button class="btn btn-large" id="history">History Analysis</button> -->
    </div>
    <br>
    <br>
    <br>
    <div class="row-fluid" id="timeTaken-div">
        <div class="row-fluid" style="border: solid 1px #CCC; background-color: #FCFDCC;"></div>
         <h4 style="padding: 5px; background: #eee">This graph displays the time taken by you in every question. You get a clear picture on where you spent more time.</h4>
        <div id="timeTaken-chart" style="width:900px"></div>
    </div>
    <div class="row-fluid" id="difficulty-div">
        <div class="row-fluid" style="border: solid 1px #CCC; background-color: #FCFDCC;"></div>
         <h4 style="padding: 5px; background: #eee">This graph shows the difficulty wise distribution of questions. Keep a track of the easy questions you missed and difficult questions you spent more time on.</h4>
        <div id="difficulty-chart" style="width:900px"></div>
    </div>
    <div class="row-fluid" id="history-div">
        <div class="row-fluid" style="border: solid 1px #CCC; background-color: #FCFDCC;"></div>
        <div id="history-chart" style="width:900px"></div>
    </div>
</div>