<div class="row-fluid">
    <div class="span4 rounded center stat-gradient"
        style="margin-top: 20px; min-height: 135px;">
        <h2 class="bold red"><%= score %>/<%=maxScore%></h2>
        was your score
        <p>
            <strong class="red"><%=totalQuestions%></strong> Attempted <strong class="red"><%=correct %></strong>
            Correct <strong class="red"><%=incorrect %></strong> Incorrect
        </p>
    </div>
    <div class="span4 rounded center stat-gradient"
        style="margin-top: 20px; min-height: 135px;">
        <h2 class="bold blue center"><%=timeTaken %></h2>
        was the time you took
        <p>
            Others finished this in <span class="blue bold"> 25 minutes </span>
        </p>
    </div>
    <div class="span4 rounded center stat-gradient"
        style="margin-top: 20px; min-height: 135px;">
        <h2 class="red orange bold">80 percentile</h2>
        of people who gave this set
        <p>
            Average Set Score was <strong class="orange"> 75</strong>
        </p>
    </div>
</div>
<br>
<h3>Video</h3>
<hr class="soften">
<br>
<div id="video">
    <a href="#myModal" data-toggle="modal"> <img src="img/video1.jpg" width="200px"
        height="150px">
    </a>
</div>
<br>
<div id="topic-performance">
    <h3>Topic-wise performance</h3>
    <hr class="soften">
    <br>
    <div id="topic-wise"></div>
</div>