<div class="row-fluid">
    <div class="span12">
        <div class="sidebar-nav">
            <ul class="nav nav-stacked left-menu">
                <li id="overall-nav"><a href="#" rel="tooltip" title="where you stand overall and in each topic"> <span> <i
                            class="icon-star"></i>
                    </span> <span class="hidden-tablet hidden-phone">Performance</span>
                </a></li>
              <!--   <li id="rsquare-nav"><a href="#rsquare"> <span><i class="icon-home"></i>
                    </span> <span class="hidden-tablet hidden-phone">Results Square</span>
                </a></li> -->
                <!--<li id="activity-nav"><a href="#activity" rel="tooltip" title="your suggested next things to do"> <span> <i
                            class="icon-ok-circle"></i>
                    </span> <span class="hidden-tablet hidden-phone">Recommended</span>
                </a></li>-->
                <li id="myprepsets-nav"><a href="#myprepsets" rel="tooltip" title="your ongoing and historical attempted practice sets"> <span> <i
                            class="icon-tasks"></i>
                    </span> <span class="hidden-tablet hidden-phone">My PrepSets</span>
                </a></li>
                <li id="review-nav"><a href="#review" rel="tooltip" title="access questions you have already attempted"> <span> 
				<i class="icon-question-sign"></i>
                    </span> <span class="hidden-tablet hidden-phone">Review Questions</span>
                </a></li>
                <!--<li id="packages-nav"><a href="#mypackages"> <span> <i
                            class="icon-home"></i>
                    </span> <span class="hidden-tablet hidden-phone">My Packages</span>
                </a></li>
                 -->
            </ul>
        </div>
        <div class="container-fluid content-wrapper">
            <div id="main-content"></div>
        </div>
    </div>
</div>
