<div class="row-fluid">
    <div class="span6 offset3">
        <h2 class="blue center"><%=descriptionShort%></h2>
        <hr class="soften">
        <ul>
            <li>This problem set consists of <strong><%=totalQuestions %> questions</strong></li>
            <li><strong>Practice</strong> mode gives you the solution after you solve every
                question, while test mode is a timed test in which your strategy is tested</li>
            <li>We estimate these questions should take about <strong><%=totalTime%></strong></li>
            <li>
               Marking Scheme    
                 <table class="table" style="background:white">
                    <tr>
                        <th>Type</th><th>Correct Score</th><th>Incorrect Score</th>
                    </tr>
                    <tr>
                        <td>Single Option Correct</td><td>+3</td><td>-1</td>
                    </tr>
                     <tr>
                        <td>Multiple Option Correct</td><td>+4</td><td>0</td>
                    </tr>
                    <tr>
                        <td>Integer Type</td><td>+4</td><td>0</td>
                    </tr>
                        <td>Match the columns</td><td>+2 per row</td><td>0</td>
                    </tr>
                    </tr>
                        <td></td><td></td><td></td>
                    </tr>
                </table>
            </li>
            <li>Upon completing this problem set, you will be given a <strong>detailed
                    video solution</strong> to each question and an <strong>analysis</strong> of your
                performance
            </li>
        </ul>
        <br>
        <div class="row-fluid">
            <button class="btn btn-large blue-btn span6 start-quiz" id="2">
                <h3 class="zero-margin"><strong>Practice Mode</strong></h3>
                <h4 class="zero-margin">Learn concepts as you practice</h4>
            </button>
            <button class="btn btn-large orange-btn span6 start-quiz" id="1">
                <h3 class="zero-margin"><strong>Test Mode</strong></h3>
                <h4 class="zero-margin">Test your exam strategy</h4>
            </button>
        </div>
    </div>
</div>

