<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
    aria-hidden="true" style="padding:10px">
    <div class="modal-header center" style="background-color: #DAE4E6">
        <span id="take-btn"></span>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    </div>
    <div class="modal-body" style="overflow-y:hidden; background:#f5f5f5; padding-bottom:70px">
        <div class="media">
            <a class="pull-left" href="#fac/<%=id %>"> <img class="media-object"
                src="<%=fdpURL%>" style="height: 80px !important">
            </a>
            <div class="media-body">
                <h3 class="media-heading"><%= firstName%> <%= lastName%></h3>
                <h4 class="italics"><%=bioShort %></h4>
            </div>
        </div>
        <hr class="soften">
        <div class="media">
            <a class="pull-left" href="#fac/<%=id %>"> <img class="media-object" src="<%=logo%>"
                style="height: 30px !important">
            </a>
            <div class="media-body">
                <h3 class="blue"><%= descriptionShort %></h3>
            </div>
        </div>
        <div class="center">
            <div id="video">
                <div id="intro-vid-<%=id%>"></div>
                
            </div> <!-- //::video:: -->        
            <p style="text-align: left; margin-top: 25px; padding: 10px 0px; margin-bottom: 20px; background-color: #ECECEC">
                <strong>Description: </strong><%= description %>
            </p>
        </div>
    </div>
</div>