<div class="row-fluid">
    <div class="page-title">
        <h2>Buy Now!</h2>
    </div>
    <br>
</div>
<div class="box unstyled" style="padding: 0% 5% 5% 5%; line-height: 20px">

    <div id="package-list" class="row-fluid pricing-tables"></div>
    <hr>
    <div class="contact-info">
        <br> You can transfer the requisite amount through electronic transfer to the bank
        account details given below. Send us the transaction details at contactus@prepsquare.com with mobile number from your registered email and we will activate your account within 24
        hours.
        <br>We appreciate your support!<br>
        <br>Phone: <strong>+91-9953865976</strong> <br>A/C No: <strong>038605500257</strong>
        <br>A/C Name: <strong>Apeirogon Ventures Private Limited</strong> <br>Bank: <strong>ICICI</strong>
        <br>Branch: <strong>Express Building, Bahadur Shah Zafar Marg</strong> <br>IFSC: <strong>ICIC0000386</strong>
        <br><br>In case of any query or issue with the payment please write to us at
        contactus@prepsquare.com.<br>
    </div>
    <hr>
    <br> <a href="api/pay/2" class="btn blue"><i class="icon-white icon-shopping-cart"></i>Continue With 3 Tests</a>
</div>
