<div class="row-fluid">
    <div class="page-title">
        <h2>Buy Now!</h2>
    </div>
    <br>
</div>
<div class="box unstyled" style="padding:0% 5% 5% 5%; line-height: 20px">
    <h2 class="blue">Get access to high quality questions for your JEE 2013</h2>
    <hr>
    
    <h3>
        2 Full-Length Tests
    </h3>
    <h3>
        25 Sectional Tests
    </h3>
    <h2 class="orange">Buy Now</h2>
    <h3>Call us on  - +91-9953865976
    <br>
    Bank Details
    <br> A/C No.: 
    <br> Bank :
    <br> IFSC : 
    </h3>
    <hr>
    <br>
    <a href="#library" class="btn btn-large blue-btn">Continue with free tests</a>
</div>
<!-- <div id="package-list" class="row-fluid"></div>  -->