<div class="row-fluid">
    <div class="span6 offset3">
        <h2 class="blue center"><%=descriptionShort%></h2>
        <hr class="soften">
        <h3 class="blue center">Resume Quiz</h3>
		<br>
        <ul>
            <li>This problem set consists of <strong><%=totalQuestions %> questions</strong></li>
            <li><strong>Practice</strong> mode gives you the solution after you solve every
                question, while test mode is a timed test in which your strategy is tested</li>
            <li>We estimate these questions should take about <strong><%=totalTime%></strong></li>
            <li>There are <strong>4 marks</strong> for correct answer and <strong>-1</strong>
                for wrong answer
            </li>
            <li>Upon completing this problem set, you will be given a <strong>detailed
                    video solution</strong> to each question and an <strong>analysis</strong> of your
                performance
            </li>
        </ul>
		<br><br>

        <button class="btn btn-large blue-btn span6 offset3" id="resume-quiz">Resume Quiz</button>
    </div>
</div>

