<form class="form-horizontal signup-form">
    <!-- <div class="control-group ">
        <div class="controls">
            <input type="text" id="fname-iu" class="input" placeholder="Name">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="text" id="email-iu" class="input" placeholder="Email">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn orange-btn" id="inviteButton">Request an Invite</button>
        </div>
    </div>
    <hr>
         -->
    Sign-Up using a coupon code <br> <br>
    <div class="control-group ">
        <div class="controls">
            <input type="text" id="fname-su" class="input" placeholder="Name">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="text" id="email-su" class="input" placeholder="Email">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="password" id="pass-su" class="input" placeholder="Password">
        </div>
    </div>
    <div class="control-group ">
        <div class="controls pull-left">
            <input type="password" id="passcon-su" class="input" placeholder="Confirm Password">
        </div>
    </div>
    <div class="control-group ">
        <div class="controls pull-left">
            <input type="text" id="ccode" class="input" placeholder="Enter Coupon Code">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <div class="row-fluid" style="width:80%">
                <div class="span3">
                    <button type="submit" class="btn orange-btn" id="signupButton">Sign Up</button>
                </div>
                <div class="span8" style="padding-top:15px">
                    <a id="inviteButton"> Don't have a coupon-code? <span class="blue">Request Invite</span></a>
                </div>
            </div>
        </div>
    </div>
</form>