<form class="form-horizontal signup-form">
    <div class="control-group ">
        <div class="controls">
            <input type="text" id="fname-su" class="input" placeholder="Name">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="text" id="email-su" class="input" placeholder="Email">
        </div>
    </div>
    <div class="control-group ">
        <div class="controls pull-left">
           <input type="text" id="mobile-su" class="input" placeholder="Mobile Number(10 digits)">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="password" id="pass-su" class="input" placeholder="Password">
        </div>
    </div>
    <div class="control-group ">
        <div class="controls pull-left">
            <input type="password" id="passcon-su" class="input" placeholder="Confirm Password">
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn orange-btn" id="signupButton">Sign Up</button>
        </div>
    </div>
</form>