<div class="container login">
    <div class="row-fluid box">
        <div class="span6">
            <h2 class="blue">Login with your existing account</h2>
            <div id="login-box"></div>
        </div>
        <div class="span6">
            <h2 class="blue">
                Sign up for a PrepSquare account
                </h2>
                <h4>
                    Sign Up for free tests. 
                </h4>
                <br>
                <hr class="soften">
                <div id="signup-box"></div>
        </div>
    </div>
</div>